<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
  <title>TODO supply a title</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

  <!-- <script src='https://demo.one2edit.com/scripts/one2edit.js' type='text/javascript'></script> -->
  <script src='one2edit.js' type='text/javascript'></script>

</head>
<body>
  <div style="height:10em"><h1>Testing one2edit.com</h1>
    This is to try out the javascript interface as a means of embedding their editor into our webpage.
    <a href="https://support.one2edit.com/Api/">https://support.one2edit.com/Api/</a>
  </div>
  <hr>
  <div id="mydiv"  ng-app="mydiv">
    content will be here, we hope:

    Write some text in textbox:
<input type="text" ng-model="sometext" />

<h1>Hello {{ sometext }}</h1>

<div ng-app="" ng-init="firstName='John'">

<p>The name is <span ng-bind="firstName"></span></p>


<input type="button" value="set color" ng-click="myStyle={color:'red'}">
<input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
<input type="button" value="clear" ng-click="myStyle={}">
<br/>
<span ng-style="myStyle">Sample Text</span>
<pre>myStyle={{myStyle}}</pre>



  </div>
</body>
<script type='text/javascript'>

console.log('One')

angular.element(document).ready(function () {
  console.log('Two');
  one2edit.create({
    parameters: {
      wmode: 'opaque'
    },
    // flashvars: {
    //   sessionId: '7cc1f79f4e2b756a2fe8b4ed45e6e8fa',
    //   clientId: 1
    // }
  });

    console.log('Three');
    // your code here

});



</script>
<script type='text/javascript'>
var app = angular.module("mydiv", []);
  // app.css("color", "red")
</script>
</html>
